mixin card-indicador(video, poster, title, text, link, buttonText)
    .card
        video.card-img-top(src=video poster=poster loop muted)
        .card-body
            h2.card-title #{title}
            hr
            p.card-text #{text}
        .card-footer.d-flex.justify-content-end
            a(class="btn btn-outline-card" href=link) #{buttonText}